
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root{
	--posicion-x-panel1: 0%;
	--posicion-x-panel2: 100%;
	--posicion-x-panel3: 200%;
	--posicion-x-panel4: 300%;
}

* {
	padding: 0;
    margin: 0;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	height: 200%;
	width: 100%;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin-top: 30px;
	font-size: calc(1em + 1vw);
	text-align: center;
}

.cursor-mano{
	cursor: pointer;
}

.cabecera {
    max-width: 100px;
    max-height: 100px;
}

.top{
	padding-top: 50px;
}

.paginacion{
	position: relative;
	bottom: -50px;
}

form {
	margin: 5% 5%;
	background-color: #FFFFFF;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

input {
	background-color: #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.checkboxes{
	width: 25px;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.Datos-personales-container {
	left: var(--posicion-x-panel1);
	width: 100%;
}

.container.right-panel-active-1 .Datos-personales-container {
	transform: translateX(var(--posicion-x-panel4));
	animation: show 0.6s;
}
.container.right-panel-active-2 .Datos-personales-container {
	transform: translateX(var(--posicion-x-panel3));
	animation: show 0.6s;
}
.container.right-panel-active-3 .Datos-personales-container{
	transform: translateX(var(--posicion-x-panel2));
	animation: show 0.6s;
}

.Nivel-estudios-container {
	left: var(--posicion-x-panel2);
	width: 100%;
}

.container.right-panel-active-1 .Nivel-estudios-container {
	left: 0;
	transform: translateX(var(--posicion-x-panel1));
	animation: show 0.6s;
}
.container.right-panel-active-2 .Nivel-estudios-container {
	left: 0;
	transform: translateX(var(--posicion-x-panel4));
	animation: show 0.6s;
}
.container.right-panel-active-3 .Nivel-estudios-container {
	left: 0;
	transform: translateX(var(--posicion-x-panel3));
	animation: show 0.6s;
}

.Datos-socioeconomicos-container{
	left: var(--posicion-x-panel3);
	width: 100%;
}

.container.right-panel-active-1 .Datos-socioeconomicos-container{
	left: 0;
	transform: translateX(var(--posicion-x-panel2));
	animation: show 0.6s;
}
.container.right-panel-active-2 .Datos-socioeconomicos-container{
	left: 0;
	transform: translateX(var(--posicion-x-panel1));
	animation: show 0.6s;
}
.container.right-panel-active-3 .Datos-socioeconomicos-container{
	left: 0;
	transform: translateX(var(--posicion-x-panel4));
	animation: show 0.6s;
}
.Documentos-container{
	left: var(--posicion-x-panel4);
	width: 100%;
}
.container.right-panel-active-1 .Documentos-container{
	left: 0;
	transform: translateX(var(--posicion-x-panel3));
	animation: show 0.6s;
}
.container.right-panel-active-2 .Documentos-container{
	left: 0;
	transform: translateX(var(--posicion-x-panel2));
	animation: show 0.6s;
}
.container.right-panel-active-3 .Documentos-container{
	left: 0;
	transform: translateX(var(--posicion-x-panel1));
	animation: show 0.6s;
}
@keyframes show {
	0%, 49.99% {
		opacity: 1;
		z-index: 1;
	}
	50%, 100% {
		opacity: 0.5;
		z-index: 5;
	}
}